# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Virtual environment
venv/

# Environment variables (if you use .env files)
.env

# Dependency directories
lib/
lib64/
include/

budget.db
